html{
    scroll-behavior: smooth;

}
body{
    overflow-y: unset;
    background-color: rgb(255, 249, 249);
}
header{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    z-index: 100;
    box-shadow: 0px 1px 10px 0px black;
}
header nav{
    overflow: hidden;
    padding: 10px 40px;

}
header nav img{
    max-width: 13%;
    min-width: 200px;
    height: 70px;
    float: left;
    padding-right: 35px;
    border-right: #2d409b 7px solid;
}
header nav ul{
    float: left;
    margin: 0 30px;
    height: inherit;
}

header nav ul li{
    font-size: 30px;
    font-weight: 600;
    color: rgb(107, 107, 107);
    display: inline-block;
    padding: 15px 30px;
}
header nav ul li a{
    text-align: center;
    color: inherit;
    text-decoration: none;

}
header nav button{
    float: right;
    margin-right:  30px;
    background-color: #68d3fd;
    font-size: 30px;
    color: white;
    margin: 7px 30px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
    font-weight: 700;

}
.clearFloat{
    clear: both;
}
.welcomeImage{
    position: relative;
    height: 700px;
    background-image: url(../img/mainImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.welcomeImage p{
    max-width: 55%;
    font-size: 2.2rem;
    position: absolute;
    word-spacing: 5px;
    top: 70%;
    left: 11%;
    color: rgb(255, 255, 255);
}
.welcomeImage h1{
    color: aliceblue;
    font-size: 4rem;
    position: absolute;
    top: 55%;
    left: 10%;
    font-weight: 900;
}
section{
    overflow: hidden;
    text-align: center;
    width: 90%;
    margin:auto ;
    margin-top: 150px;
    margin-bottom: 75px;
    background-color: rgb(245 244 244);
    border-radius: 20px;
}
.sectionTitle{
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 4em;
    color: rgb(59, 59, 59);
}
.sectionDesc{
    /* font-weight: 900; */
    font-size: 2em;
    color: rgb(59, 59, 59);
    margin: 20px;

}
.productContainer{
    width: 90%;
    padding: 15px;
    margin: auto;
    margin-bottom: 90px;
    /* background-color: rgb(0, 0, 0); */
    overflow: hidden;
}
.productCard{
    width: 30%;
    background-color: #009aff40;
    height: 400px;
    float: left;
    margin: 20px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
.productCard img{
    position: absolute;
    width: 100%;
    height: 400px;
    top: -12%;
    left: 10%;
    background-color: #01fefe52;
    border-radius: 200px;
}
.productCard h4{
    position: absolute;
    width: 100%;
    bottom: 35px;
    font-size: 75px;
    font-weight: 900;
    font-style: oblique;
    letter-spacing: 5px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: #68d3fd;
    color: white;
    cursor: pointer;
    height: 70px;
    width: 70px;
    border-radius: 50px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  
  hr{
      width: 50%;
      margin: auto;
  }
  .about{
/* background-color: white; */
margin-top: 75px;
  }
.AboutUsContainer{
    margin-top: 80px;
    display: table;
    width: 100%;
}
  .leftContainer,.rightContainer{
      /* background-color: red; */
      /* border: 1px solid black; */
      height: 700px;
      display: table-cell;
      width: 50%;
  }
  .rightContainer{
      background-image: url('../img/AboutPic.png');
      opacity: 0.90;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .leftContainer{
      background-color: #01fefe52;
      position: relative;
      /* background-color: black; */
  }
  .leftContainer h1{
    font-size: 3em;
    font-weight: 900;
    color: rgb(26 34 64);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    position: absolute;
    top: 10%;
    /* left: 0%;*/

  }
  .leftContainer p{
      font-size: 2rem;
      font-weight: 900;
      color: rgb(131, 131, 131);

      position: absolute;
      top:45%;

  }

  /*****************************************************************/
  /****************** Footer work ***************************/
  /*****************************************************************/
  footer{
      margin-top: 100px;
      position: relative;
      bottom: 0;
  }
.footerContainer{

    height: 350px;
    width: 100%;
    color: white;
    background-color: #050719;
    text-align: center;
    box-shadow: 0px 2px 5px 0px black;
}
.footerTop{
      background-color: #050719;
      display: table;
      width: inherit;
      height: 70%;
  }
  .leftContentFooter,.rightContentFooter{
      display: table-cell;
      /* border: 1px solid red; */
      width: 60%;
      padding: 50px 25px;
      
  }
  .rightContentFooter{
      width: 40%;
      border-left: 1px solid white;
  }
  .leftContentFooter h3{
      
      font-size: 2.5rem;
      font-weight: 900;
      margin-bottom: 10px;
  }
  .leftContentFooter{
      text-align: left; 
  }
  .leftContentFooter p{
      margin: 25px 50px;
      font-size: 1.5rem;
  }
  .rightContentFooter p{
      font-size: 2.5rem;
      font-weight: 900;
      margin-bottom: 10px;
  }
  .footerBottom{
    /* margin-top: 20px; */
    padding-top: 20px;
    text-align: center;
    color: white;
    background-color: #050719;
  }
  i.footer{
    margin: 25px;
    height: 50px;
    width: 50px;
    background-color: #a6f8f8;
    border-radius: 50px;
    padding: 15px;
    color: #050719;
  }
  a{
      text-decoration: none;
  }

  /*************************************************************/
  /**********************Add some animation*******************/
  /*************************************************************/
  header nav ul li a{
    border-bottom: solid 2px #51b8fc;
    transition: border-width 0.2s linear;
  }
  header nav ul li a:hover{
    border-width: 7px;
  }
  .productCard:hover > img {
    background-color: #0000009e;
    transition-property: all;
    transition-duration: 1.2s;
    transform: scale(1.2);
}
div.priceTag {
    position: absolute;
    top: 6%;
    left: 65%;
    font-size: 4rem;
    font-weight: 900;
    display: none;
}
.productCard:hover > .priceTag {
    display: block;
    color: white;

}